.container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}
.content-container {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}
.border-radius {
    border-radius: 0.3em;
}
.visible {
    visibility: visible ;
}
.unvisible {
    visibility: hidden;
}
.block {
    display: block;
}
.none {
    display: none;
}
.plug-text {
    display: block;
    font-weight: bold;
    text-align: center;
    color: #6b6a6a;
}
.basket-btn,
.btn-error-srv {
    margin: 0.5em 0 0.5em 0;
    padding: 0.3em;
    border-radius: 0.3em;
}
.page-header {
    display: flex;
    background-color: #6b6a6a;
    justify-content: space-between;
    /* color: #fafafa; */
    padding: 1em 1em;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
    text-decoration:none;
}
.page-header-action {
    display: flex;
    justify-content: space-around;
}
.basket {
    position: relative;
    /* margin: 2em auto; */
}
.basket-btn, .logo{
    align-self: center;
}
.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
}
.btn-search:hover {
    cursor: pointer;
}
.btn-search:active {

}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}
.home {
    text-align: center;
}
.content {
    position: relative;
    margin: 3em 0 3em 0;
}
.error-msg-srv {
    /* display: none; */
    position: absolute;
    z-index: 9;
    width: 30em;
    height: 8em;
    left: 50%;
    top: 50%;
    margin-left: -15em;
    margin-top: -4em;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 0.3em;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.products {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.product-item {
    position: relative;
    background-color: #f0f0f0;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 1em;
}
.product-img-wrap {
    background-color: #4a4a4a;
}
.product-img {
    display: block;
    width: 100%;
    object-fit: contain;
}
.product-img-wrap:hover .product-img {
    opacity: 0.3;
}
.product-img-wrap:hover .product-btn {
    display: block;
}
.product-header {
    text-align: center;
}
.product-price {
    display: block;
    text-align: center;
    font-weight: bold;
}
.product-btn {
    display: none;
    position: absolute;
    top: 35%;
    left: 36.5%;
    padding: 0.3em;
    border-radius: 0.3em;
}
/* .product-info {
    font-style: italic;
} */
.product-btn:hover, .basket-btn:hover {
    cursor: pointer;
    background-color: #4a4a4a;
    color: #f0f0f0;
    border: 2px solid #f0f0f0;
}
.basket-btn:hover,
.basket-control-btn:hover {
    border: 2px solid #4a4a4a;
}
.product-btn:active,
.basket-btn:active,
.btn-search:active,
.basket-control-btn:active {
    transform: scale(1.2);
}
.link-button {
    border:1px solid #4a4a4a; /*рамка*/
    color: #4a4a4a;
	background:#eaeaea; /*фон*/
	padding: 0.5em 0.5em; /*отступы внутри*/
	text-decoration: none; /*убрать подчеркивание ссылки*/
    border-radius: 0.3em;
}
.link-button:hover {
    background: #4a4a4a;
    color: #eaeaea;
}
.link-button:active {
    transform: scale(1.2);
}
.basket-content {
    position: absolute;
    top: 3em;
    right: 0;
    /* width: 35em; */
    width: 815%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 1em;
    z-index: 7;
    padding: 0.3em;
    background-color: #eaeaea;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.basket-items {
    display: block;
    /* display: none; */
    /* padding: 1em .3em 1em .3em; */
}
.basket-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    /* margin: .3em .3em .3em .3em; */
    margin: 0.01em;
    /* background-color: #ffffff; */
}
.basket-item-name {
    display: grid;
    grid-template-columns: 0.2fr 2fr 0.2fr;
}
.basket-delimiter {
    border-bottom: 1px solid #7e7d7d;
}
.basket-text {
    text-align: center;
    padding: 0.1em 0 0.1em 0;
}
.basket-text-italic {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    padding: 0.1em 0 0.1em 0;
    color: #000000;
}
.basket-header,
.footer-item-basket,
.basket-footer {
    background-color: #d7d7d7;
    font-weight: bold;
    padding: 0.1em 0 0 0;
}
.basket-header span,
.footer-item-basket span {
    display: block;
}
.basket-header,
.basket-footer {
    /* margin-top: 0.2em; */
    color: #fff;
    background-color: #6b6a6a;
}
.basket-control {
    display: flex;
    justify-content: space-between;
    margin-top: 0.3em;
}
.basket-control-btn {
    color: #6b6a6a;
    background-color: #ffffff;
    border: 2px solid #b8b8b8;
    border-radius: 0.3em;
}
.cart-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.cart-elements {
    max-height: 15em;
    height: 100%;
    background: #eaeaea;
    border: 2px solid #b8b8b8;
    border-radius: 0.3em;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom: 1em;
}
.cart-img {
    display: block;
    max-width: 25em;
    width: 100%;
    object-fit: contain;
}
.cart-text {
    font-weight: bold;
    color: #6b6a6a;
}
.span-flex {
    display: flex;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.cart-footer {
    display: flex;
    justify-content: space-around;
    background: #6b6a6a;
}
.cart-text-footer {
    font-weight: bold;
    color: #ffffff;
    margin: 1em;
}
.btn-item-cart {
    font-weight: bold;
    font-size: 1.2em;
    color: #ffffff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: none;
    background: #6b6a6a;
}
.btn-item-cart:hover {
   background: #ffffff;
   color: #6b6a6a;
   border-radius: 1px solid #6b6a6a; 
}
.btn-item-cart:active {
    transform: scale(1.2);
}


